.lvl1{
	background-color: rgb(253, 216, 53);
}
.lvl2{
	background-color: rgb(239, 108, 0);
}
.lvl3{
	background-color: rgb(211, 47, 47);
}
.jumbotron-img {
	background-image: url(img/html-color-codes-color-tutorials.jpg);
	background-size: cover;
	height: 100%;
	color:white;
}
.sprint5{
	color: rgb(93, 64, 55);
}

